<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Langue</label>
		<select class="form-control custom-toggle" data-name="name">
			<option value="custom" {{selected name "custom"}}>Custom</option>
			<option value="abyssal" {{selected name "abyssal"}}>Abyssal</option>
			<option value="auran" {{selected name "auran"}}>Auran</option>
			<option value="aquan" {{selected name "aquan"}}>Aquan</option>
			<option value="celestial" {{selected name "celestial"}}>Céleste</option>
			<option value="common" {{selected name "common"}}>Commun</option>
			<option value="undercommon" {{selected name "undercommon"}}>Commun des Profondeurs</option>
			<option value="draconic" {{selected name "draconic"}}>Draconique</option>
			<option value="druidic" {{selected name "druidic"}}>Druidique</option>
			<option value="elvish" {{selected name "elvish"}}>Elfique</option>
			<option value="giant" {{selected name "giant"}}>Géant</option>
			<option value="gnoll" {{selected name "gnoll"}}>Gnoll</option>
			<option value="gnomish" {{selected name "gnomish"}}>Gnome</option>
			<option value="goblin" {{selected name "goblin"}}>Goblin</option>
			<option value="halfling" {{selected name "halfling"}}>Halfelin</option>
			<option value="ignan" {{selected name "ignan"}}>Ignan</option>
			<option value="infernal" {{selected name "infernal"}}>Infernal</option>
			<option value="dwarvish" {{selected name "dwarvish"}}>Nain</option>
			<option value="orc" {{selected name "orc"}}>Orc</option>
			<option value="primordial" {{selected name "primordial"}}>Primordial</option>
			<option value="deep speech" {{selected name "deep speech"}}>Profond</option>
			<option value="sylvan" {{selected name "sylvan"}}>Sylvestre</option>
			<option value="terran" {{selected name "terran"}}>Terran</option>
			<option value="all" {{selectedDefault name "all"}}>Toutes les langues</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Nom</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>