<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Dégâts</label>
		<select class="form-control custom-toggle" data-name="type">
			<option value="acid" {{selectedDefault type "acid"}}>Acide</option>
			<option value="bludgeoning" {{selected type "bludgeoning"}}>Contondant</option>
			<option value="custom" {{selected type "custom"}}>Custom</option>
			<option value="fire" {{selected type "fire"}}>Feu</option>
			<option value="force" {{selected type "force"}}>Force</option>
			<option value="lightning" {{selected type "lightning"}}>Foudre</option>
			<option value="cold" {{selected type "cold"}}>Froid</option>
			<option value="necrotic" {{selected type "necrotic"}}>Nécrotique</option>
			<option value="piercing" {{selected type "piercing"}}>Perforant</option>
			<option value="poison" {{selected type "poison"}}>Poison</option>
			<option value="psychic" {{selected type "psychic"}}>Psychique</option>
			<option value="radiant" {{selected type "radiant"}}>Radiant</option>
			<option value="slashing" {{selected type "slashing"}}>Tranchant</option>
			<option value="thunder" {{selected type "thunder"}}>Tonnerre</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle type}}}>
		<label>Type</label>
		<input type="text" class="form-control" data-name="custom" {{{setValue custom}}}>
	</div>
</div>