<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Compétence</label>
		<select class="form-control custom-toggle" data-name="name">
			<option value="acrobatics" {{selectedDefault name "acrobatics"}}>Acrobaties</option>
			<option value="arcana" {{selected name "arcana"}}>Arcanes</option>
			<option value="athletics" {{selected name "athletics"}}>Athlétisme</option>
			<option value="custom" {{selected name "custom"}}>Custom</option>
			<option value="stealth" {{selected name "stealth"}}>Discrétion</option>
			<option value="animal handling" {{selected name "animal handling"}}>Dresage</option>
			<option value="sleight of hand" {{selected name "sleight of hand"}}>Escamotage</option>
			<option value="history" {{selected name "history"}}>Histoire</option>
			<option value="intimidation" {{selected name "intimidation"}}>Intimidation</option>
			<option value="investigation" {{selected name "investigation"}}>Investigation</option>
			<option value="medicine" {{selected name "medicine"}}>Médecine</option>
			<option value="nature" {{selected name "nature"}}>Nature</option>
			<option value="perception" {{selected name "perception"}}>Perception</option>
			<option value="performance" {{selected name "performance"}}>Performance</option>
			<option value="insight" {{selected name "insight"}}>Perspicacité</option>
			<option value="persuasion" {{selected name "persuasion"}}>Persuasion</option>
			<option value="religion" {{selected name "religion"}}>Religion</option>
			<option value="survival" {{selected name "survival"}}>Survie</option>
			<option value="deception" {{selected name "deception"}}>Tromperie</option>
		</select>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Nom</label>
		<input type="text" class="form-control" data-name="custom.name" {{{setValue custom.name}}}>
	</div>
	<div class="form-group custom" {{{customToggle name}}}>
		<label>Caractéristique</label>
		<select class="form-control" data-name="custom.ability">
			<option value="str" {{selectedDefault custom.ability "str"}}>Force</option>
			<option value="dex" {{selected custom.ability "dex"}}>Dexterité</option>
			<option value="con" {{selected custom.ability "con"}}>Constitution</option>
			<option value="int" {{selected custom.ability "int"}}>Intelligence</option>
			<option value="wis" {{selected custom.ability "wis"}}>Sagesse</option>
			<option value="cha" {{selected custom.ability "cha"}}>Charisme</option>
		</select>
	</div>
	<div class="form-group">
		<label>Niveau</label>
		<select class="form-control" data-name="proficiency">
			<option value="proficient" {{selectedDefault proficiency "proficient"}}>Maîtrise</option>
			<option value="expertise" {{selected proficiency "expertise"}}>Expertise</option>
		</select>
	</div>
</div>
