<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Caractéristique</label>
		<select class="form-control" data-name="ability">
			<option value="str" {{selectedDefault ability "str"}}>Force</option>
			<option value="dex" {{selected ability "dex"}}>Dexterité</option>
			<option value="con" {{selected ability "con"}}>Constitution</option>
			<option value="int" {{selected ability "int"}}>Intelligence</option>
			<option value="wis" {{selected ability "wis"}}>Sagesse</option>
			<option value="cha" {{selected ability "cha"}}>Charisme</option>
		</select>
	</div>
</div>
