{{!-- Beginning of custom theme --}}
{{#ifCond monster.display.theme "new-giffyglyph"}}
<div class="monster theme-{{monster.display.theme}} columns-{{monster.display.columns}} {{#if display.quickstart}}quickstart rank-{{monster.description.rank}}{{/if}}">
	<div class="monster-contents">
		<div class="monster-contents-header"></div>
		<div class="monster-contents-body">
			{{#if display.imageCustom}}
				<div class="monster-image custom">
					<img src="../images/{{{monster.display.image.type}}}.svg" style="width: 100%; height: 100%"/>
				</div>
			{{/if}}
			{{#if display.header}}
				<div class="monster-header">
					<div>
						{{#if display.headerTitle}}
							<h4>{{monster.description.name}}</h4>
						{{/if}}
						{{#if display.headerDescription}}
							<p class="monster-description">{{fmtCapitalise (fmtMonsterDescription monster.description.size monster.description.type monster.tags monster.description.alignment)}}</p>
						{{/if}}
					</div>
				</div>
			{{/if}}
			{{#if display.quickstart}}
				<div class="monster-quickstart">
					<p><i class="fa-solid fa-crown"></i> {{fmtFormatRank monster.description.rank}} <span class="solo-only">vs {{monster.description.players}} </span> Niveau {{monster.description.level}}, {{fmtFormatRole monster.description.role}}</p>
				</div>
			{{/if}}
			<div class="monster-abilities">
				<div class="monster-ability">
					<span class="label">For {{monster.abilities.str.score}} </span>
					<span class="modifier">{{{fmtModifier monster.abilities.str.modifier}}}</span>
				</div>
				<div class="monster-ability">
					<span class="label">Dex {{monster.abilities.dex.score}}</span>
					<span class="modifier">{{{fmtModifier monster.abilities.dex.modifier}}}</span>
				</div>
				<div class="monster-ability">
					<span class="label">Con {{monster.abilities.con.score}}</span>
					 <span class="modifier">{{{fmtModifier monster.abilities.con.modifier}}}</span>
				</div>
				<div class="monster-ability">
					<span class="label">Int {{monster.abilities.int.score}}</span>
					<span class="modifier">{{{fmtModifier monster.abilities.int.modifier}}}</span>
				</div>
				<div class="monster-ability">
					<span class="label">Sag {{monster.abilities.wis.score}}</span>
					<span class="modifier">{{{fmtModifier monster.abilities.wis.modifier}}}</span>
				</div>
				<div class="monster-ability">
					<span class="label">Cha {{monster.abilities.cha.score}}</span>
					<span class="modifier">{{{fmtModifier monster.abilities.cha.modifier}}}</span>
				</div>
			</div>
			{{#if display.defences}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-shield-halved"></i> DEF</span>
					<span> {{#if monster.ac.value}}{{monster.ac.value}} {{/if}} {{#if monster.ac.type}}({{monster.ac.type}}){{/if}}</span>
					<span class="label"> JDS</span>
						{{#if display.quickstart}}
							{{#if monster.attack.isActive}}
								{{{fmtMonsterSavingThrowsQuickstartActive monster.savingThrows}}}
							{{/if}}
							{{#unless monster.attack.isActive}}
								{{fmtMonsterSavingThrowsQuickstart monster.savingThrows}}
							{{/unless}}
						{{/if}}
						{{#unless display.quickstart}}
							{{fmtMonsterSavingThrows monster.savingThrows}}
						{{/unless}}
				</p>
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-heart"></i> PV</span>
					<span>{{monster.hp.average}}</span>
					<span class="label">Péril</span>
					<span>{{divideRoundDown monster.hp.average 2}}</span>
				</p>
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-hand-fist"></i> ATK</span>
					<span>{{fmtModifier monster.attack.bonus}}</span>
					<span class="label">DD</span>
					<span>{{monster.dc.primary}} | {{monster.dc.secondary}}</span>
					<span class="label">DMG</span>
					<span>{{ monster.attack.damage}}</span>
				</p>
				<hr style="background: #831517; border-width: 5px; display: block; margin-left: 0.5em; margin-right: 0.5em; width: auto; margin-top: 0.1em; margin-bottom: 0.1em;"/>
				<p class="body-stats" style="margin-top: 0;">
					<span class="label"><i class="fa-solid fa-bolt"></i> Vitesse</span>
					<span>{{{fmtMonsterSpeeds monster.speeds}}}</span>
				</p>
				{{#if display.skills}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-screwdriver-wrench"></i> Compétences</span>
					<span>{{#each monster.skills}}{{fmtFormatSkill name}} {{fmtModifier modifier}}{{#unless @last}}, {{/unless}}{{/each}}</span>
				</p>
				{{/if}}
				{{#if display.resistances}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-shield-plus"></i> Résistances</span>
					<span>
						{{#each monster.resistances}}
							{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
						{{/each}}
					</span>
				</p>
				{{/if}}
				{{#if display.vulnerabilities}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-shield-minus"></i> Vulnérabilités</span>
					<span>
						{{#each monster.vulnerabilities}}
							{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
						{{/each}}
					</span>
				</p>
				{{/if}}
				{{#if display.immunities}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-shield-heart"></i> Immunités dégâts</span>
					<span>
						{{#each monster.immunities}}
							{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
						{{/each}}
					</span>
				</p>
				{{/if}}
				{{#if display.conditions}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-shield-heart"></i> Immunités status</span>
					<span>
						{{#each monster.conditions}}
							{{fmtFormatConditions this}}{{#unless @last}}, {{/unless}}
						{{/each}}
					</span>
				</p>
				{{/if}}
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-eye"></i> Sens</span>
					<span>{{fmtMonsterSenses monster.senses}}</span>
				</p>
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-comment"></i> Langues</span>
					<span>{{#each monster.languages}}{{fmtFormatLanguage this}}{{#unless @last}}, {{/unless}}{{/each}}</span>
				</p>
				<p class="body-stats">
					<span class="label"><i class="fa-solid fa-award"></i> CR</span>
					<span>
						{{{monster.challenge.rating}}}
					</span>
					{{#unless display.quickstart}}<span class="label">XP</span><span>{{fmtLocaleString monster.challenge.xp}} XP</span>{{/unless}}
				</p>
			{{/if}}
			<hr/>
			{{#if display.traits}}
				<div class="section-title section-title-traits">
					<h5 class="h5-traits">GRATUIT</h5>
					<span></span>
				</div>
				{{#each monster.traits}}
					<div class="monster-trait">
						<p><i class="fa-solid trait-icon {{{rarity}}} {{{type}}}"></i>{{#if name}}<span class="name">{{name}}:</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.actions}}
			<div class="section-title section-title-actions">
				<h5 class="h5-actions">ACTIONS</h5>
			</div>
			<div class="h5-border"></div>
				{{#each monster.actions}}
					<div class="monster-action">
						<p><i class="fa-solid fa-sword trait-icon {{{rarity}}} {{{type}}}"></i>{{#if name}}<span class="name">{{name}}:</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.reactions}}
				<div class="section-title section-title-reactions">
					<h5 class="h5-reactions">RÉACTIONS</h5>
				</div>
				<div class="h5-border"></div>
				{{#each monster.reactions}}
					<div class="monster-reaction">
						<p><i class="fa-solid fa-sword trait-icon {{{rarity}}} {{{type}}}"></i>{{#if name}}<span class="name">{{name}}:</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.paragonActions}}
				<div class="section-title section-title-paragon">
					<h5 class="h5-paragon">ACTIONS PARAGON</h5>
				</div>
				<div class="h5-border"></div>
				<p class="paragon-actions">Vous pouvez effectuer {{monster.paragonActions}} une action(s) parangon, en choisissant soit de vous déplacer, soit d'effectuer une action. Une seule action de parangon peut être utilisée à la fois et seulement à la fin du tour d'une autre créature. Vous récupérez les actions parangon dépensées au début de votre tour.</p>
			{{/if}}
			{{#if display.legendaryActions}}
			<div class="section-title section-title-legendary">
				<h5 class="h5-legendary">ACTIONS LÉGENDAIRES</h5>
			</div>
				<div class="h5-border"></div>
				{{#if display.legendaryActionsPerRound}}
					<p class="legendary-per-round">Vous pouvez effectuer {{monster.legendaryActionsPerRound}} action(s) légendaire(s), en choisissant parmi les options ci-dessous. Une seule option d'action légendaire peut être utilisée à la fois et seulement à la fin du tour d'une autre créature. Vous récupérez les actions légendaires dépensées au début de votre tour.</p>
				{{/if}}
				{{#each monster.legendaryActions}}
					<div class="monster-legendary-action">
						<p><i class="fa-solid fa-sword trait-icon {{{rarity}}} {{{type}}}"></i>{{#if name}}<span class="name">{{name}}:</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.lairActions}}
				<div class="section-title section-title-lair">
					<h5 class="h5-lair">ACTIONS DE REPAIRE</h5>
				</div>
				<div class="h5-border"></div>
				{{#if display.lairActionsInitiative}}
					<p class="lair-initiative">Sur le compte d'initiative {{monster.lairActionsInitiative}}, vous pouvez entreprendre une action de repaire pour déclencher l'un des effets suivants. Vous ne pouvez pas utiliser le même effet deux rounds de suite.</p>
				{{/if}}
				{{#each monster.lairActions}}
					<div class="monster-lair-action">
						<p><i class="fa-solid fa-sword trait-icon {{{rarity}}} {{{type}}}"></i>{{#if name}}<span class="name">{{name}}:</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.notes}}
				<div class="section-title section-title-notes">
					<h5 class="h5-notes">NOTES</h5>
				</div>
				<div class="h5-border"></div>
				<div class="monster-notes">
					{{#each monster.notes}}
						<p class="note">{{{this}}}</p>
					{{/each}}
				</div>
			{{/if}}
		</div>
		<div class="monster-contents-footer"></div>
	</div>
</div>
{{!-- Beginning of other classic themes --}}
{{else}}
<div class="monster theme-{{monster.display.theme}} columns-{{monster.display.columns}} {{#if display.quickstart}}quickstart rank-{{monster.description.rank}}{{/if}}">
	{{#if display.imageBanner}}
		<div class="monster-image banner">
			<img src="{{monster.display.image.url}}"/>
		</div>
	{{/if}}
	<div class="monster-contents">
		<div class="monster-contents-header"></div>
		<div class="monster-contents-body">
			{{#if display.imageInline}}
				<div class="monster-image inline">
					<img src="{{monster.display.image.url}}"/>
				</div>
			{{/if}}
			{{#if display.header}}
				<div class="monster-header">
					<div>
						{{#if display.headerTitle}}
							<h4>{{monster.description.name}}</h4>
						{{/if}}
						{{#if display.headerDescription}}
							<p class="monster-description">{{fmtCapitalise (fmtMonsterDescription monster.description.size monster.description.type monster.tags monster.description.alignment)}}</p>
						{{/if}}
					</div>
					{{#if display.quickstart}}
						<div class="monster-quickstart">
							<p>Niveau {{monster.description.level}} {{fmtFormatRole monster.description.role}}<br/> {{fmtFormatRank monster.description.rank}} <span class="solo-only">vs {{monster.description.players}} </span>({{fmtLocaleString monster.challenge.xp}} XP)</p>
						</div>
					{{/if}}
				</div>
			{{/if}}
			{{#if display.defences}}
				<hr/>
				<ul>
					{{#if display.armorClass}}
						<li class="monster-ac">
							<p>
								<span class="label">Défense</span>
								<span>
									{{#if monster.ac.value}}{{monster.ac.value}} {{/if}}
									{{#if monster.ac.type}}({{monster.ac.type}}){{/if}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.hitPoints}}
						<li class="monster-hp">
							<p>
								<span class="label">Points de vie</span>
								<span>
									{{#if monster.hp.average}}{{monster.hp.average}} {{/if}}
									{{#if monster.hp.roll}}({{monster.hp.roll}}){{/if}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.speeds}}
						<li class="monster-speed">
							<p>
								<span class="label">Vitesse</span>
								<span>{{{fmtMonsterSpeeds monster.speeds}}}</span>
							</p>
						</li>
					{{/if}}
				</ul>
			{{/if}}
			<hr/>
			<div class="monster-abilities">
				<div class="monster-ability">
					<span class="label">For</span>
					<span>{{monster.abilities.str.score}} <span class="modifier">({{{fmtModifier monster.abilities.str.modifier}}})</span></span>
				</div>
				<div class="monster-ability">
					<span class="label">Dex</span>
					<span>{{monster.abilities.dex.score}} <span class="modifier">({{{fmtModifier monster.abilities.dex.modifier}}})</span></span>
				</div>
				<div class="monster-ability">
					<span class="label">Con</span>
					<span>{{monster.abilities.con.score}} <span class="modifier">({{{fmtModifier monster.abilities.con.modifier}}})</span></span>
				</div>
				<div class="monster-ability">
					<span class="label">Int</span>
					<span>{{monster.abilities.int.score}} <span class="modifier">({{{fmtModifier monster.abilities.int.modifier}}})</span></span>
				</div>
				<div class="monster-ability">
					<span class="label">Sag</span>
					<span>{{monster.abilities.wis.score}} <span class="modifier">({{{fmtModifier monster.abilities.wis.modifier}}})</span></span>
				</div>
				<div class="monster-ability">
					<span class="label">Cha</span>
					<span>{{monster.abilities.cha.score}} <span class="modifier">({{{fmtModifier monster.abilities.cha.modifier}}})</span></span>
				</div>
			</div>
			{{#if display.stats}}
				<hr/>
				<ul class="monster-stats">
					{{#if display.savingThrows}}
						<li class="monster-saves">
							<p>
								<span class="label">{{#if monster.attack.isActive}}Saves{{/if}}{{#unless monster.attack.isActive}}Jets de sauvegarde{{/unless}}</span>
								<span>
									{{#if display.quickstart}}
										{{#if monster.attack.isActive}}
											{{{fmtMonsterSavingThrowsQuickstartActive monster.savingThrows}}}
										{{/if}}
										{{#unless monster.attack.isActive}}
											{{fmtMonsterSavingThrowsQuickstart monster.savingThrows}}
										{{/unless}}
									{{/if}}
									{{#unless display.quickstart}}
										{{fmtMonsterSavingThrows monster.savingThrows}}
									{{/unless}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.skills}}
						<li class="monster-skills">
							<p>
								<span class="label">Compétences</span>
								<span>
									{{#each monster.skills}}
										{{fmtFormatSkill name}} {{fmtModifier modifier}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.vulnerabilities}}
						<li class="monster-vulnerabilities">
							<p>
								<span class="label">Vulnérabilités aux dégâts</span>
								<span>
									{{#each monster.vulnerabilities}}
										{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.resistances}}
						<li class="monster-resistances">
							<p>
								<span class="label">Résistances aux dégâts</span>
								<span>
									{{#each monster.resistances}}
										{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.immunities}}
						<li class="monster-immunities">
							<p>
								<span class="label">Immunités aux dégâts</span>
								<span>
									{{#each monster.immunities}}
										{{fmtFormatDamages this}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.conditions}}
						<li class="monster-conditions">
							<p>
								<span class="label">Immunités aux états</span>
								<span>
									{{#each monster.conditions}}
										{{fmtFormatConditions this}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.senses}}
						<li class="monster-senses">
							<p>
								<span class="label">Sens</span>
								<span>{{fmtMonsterSenses monster.senses}}</span>
							</p>
						</li>
					{{/if}}
					{{#if display.languages}}
						<li class="monster-languages">
							<p>
								<span class="label">Langues</span>
								<span>
									{{#each monster.languages}}
										{{fmtFormatLanguage this}}{{#unless @last}}, {{/unless}}
									{{/each}}
								</span>
							</p>
						</li>
					{{/if}}
					{{#if display.challenge}}
						<li class="monster-challenge">
							<p>
								<span class="label">Puissance</span>
								<span>
									{{{monster.challenge.rating}}} {{#unless display.quickstart}}({{fmtLocaleString monster.challenge.xp}} XP){{/unless}}
								</span>
							</p>
						</li>
					{{/if}}
				</ul>
			{{/if}}
			{{#if display.quickstart}}
				<hr/>
				<ul class="quickstart-helpers">
					<li>
						<p>
							<span class="label">Attaques</span>
							<span>{{#if monster.attack.isActive}}DD {{monster.attack.bonus}} vs DEF{{#if monster.attack.isActiveSmaller}} − 10{{/if}}{{/if}}{{#unless monster.attack.isActive}}{{fmtModifier monster.attack.bonus}} au toucher{{/unless}}. <i>Touché:</i> {{ monster.attack.damage}} dégâts</span>
						</p>
					</li>
					<li>
						<p>
							<span class="label">Degrés de Difficulté</span>
							<span>Principal {{monster.dc.primary}}, secondaire {{monster.dc.secondary}}</span>
						</p>
					</li>
					{{#if monster.attack.isActive}}
						<li>
							<p>
								<span class="label">Défense Active</span>
								<span>{{#if monster.attack.isActiveSmaller}}<i>(Smaller Variant) </i>{{/if}}You don't roll to attack. Instead, your targets roll to defend.</span>
							</p>
						</li>
					{{/if}}
				</ul>
			{{/if}}
			<hr/>
			{{#if display.traits}}
				<h5 class="h5-traits">Traits</h5>
				<div class="h5-border"></div>
				{{#each monster.traits}}
					<div class="monster-trait">
						<p> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 16px; width: 16px; background-color: #1c922c; border-radius: 50% !important; margin-right: 4px; vertical-align: sub;"><path d="M0 0h512v512H0z" fill="#FFFFFF" fill-opacity="0.01"></path><g class="" transform="translate(7,21)" style=""><path d="M329.8 235.69l62.83-82.71 42.86 32.56-62.83 82.75zm-12.86-9.53l66.81-88-45-34.15-66.81 88zm-27.48-97.78l-19.3 39.57 57-75-42.51-32.3-36.24 47.71zm-20.74-73.24l-46.64-35.43-42 55.31 53.67 26.17zm107 235.52l-139-102.71-9.92.91 4.56 2 62.16 138.43-16.52 2.25-57.68-128.5-40-17.7-4-30.84 39.41 19.42 36.36-3.33 17-34.83-110.9-54.09-80.68 112.51L177.6 346.67l-22.7 145.62H341V372.62l35.29-48.93L387 275.77z" fill="#FFFFFF" fill-opacity="1"></path></g></svg>{{#if name}}<span class="name">{{name}}</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.actions}}
				<h5>Actions</h5>
				<div class="h5-border"></div>
				{{#each monster.actions}}
					<div class="monster-action">
						<p>{{#if name}}<span class="name">{{name}}.</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.reactions}}
				<h5>Réactions</h5>
				<div class="h5-border"></div>
				{{#each monster.reactions}}
					<div class="monster-reaction">
						<p>{{#if name}}<span class="name">{{name}}.</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.paragonActions}}
				<h5>Actions Paragon</h5>
				<div class="h5-border"></div>
				<p class="paragon-actions">Vous pouvez effectuer {{monster.paragonActions}} une action(s) parangon, en choisissant soit de vous déplacer, soit d'effectuer une action. Une seule action de parangon peut être utilisée à la fois et seulement à la fin du tour d'une autre créature. Vous récupérez les actions parangon dépensées au début de votre tour.</p>
			{{/if}}
			{{#if display.legendaryActions}}
				<h5>Actions Légendaires</h5>
				<div class="h5-border"></div>
				{{#if display.legendaryActionsPerRound}}
					<p class="legendary-per-round">Vous pouvez effectuer {{monster.legendaryActionsPerRound}} action(s) légendaire(s), en choisissant parmi les options ci-dessous. Une seule option d'action légendaire peut être utilisée à la fois et seulement à la fin du tour d'une autre créature. Vous récupérez les actions légendaires dépensées au début de votre tour.</p>
				{{/if}}
				{{#each monster.legendaryActions}}
					<div class="monster-legendary-action">
						<p>{{#if name}}<span class="name">{{name}}.</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.lairActions}}
				<h5>Actions de repaire</h5>
				<div class="h5-border"></div>
				{{#if display.lairActionsInitiative}}
					<p class="lair-initiative">Sur le compte d'initiative {{monster.lairActionsInitiative}}, vous pouvez entreprendre une action de repaire pour déclencher l'un des effets suivants. Vous ne pouvez pas utiliser le même effet deux rounds de suite.</p>
				{{/if}}
				{{#each monster.lairActions}}
					<div class="monster-lair-action">
						<p>{{#if name}}<span class="name">{{name}}.</span>{{/if}}{{#if detail}} <span class="detail">{{{detail}}}</span>{{/if}}</p>
					</div>
				{{/each}}
			{{/if}}
			{{#if display.notes}}
				<h5 class="h5-notes">Notes</h5>
				<div class="h5-border"></div>
				<div class="monster-notes">
					{{#each monster.notes}}
						<p class="note">{{{this}}}</p>
					{{/each}}
				</div>
			{{/if}}
		</div>
		<div class="monster-contents-footer"></div>
	</div>
</div>
{{/ifCond}}


<div>
	{{#if display.downloadPng}}
		<button type="button" class="btn btn-sm btn-primary btn-png">
			<span class="fas fa-camera"></span> Télécharger en PNG
		</button>
	{{/if}}
	<button type="button" class="btn btn-sm btn-primary btn-columns icon-only icon-border">
		<span class="fas fa-columns"></span>
	</button>
</div>
