<div class="card panel vault edit">
  <div class="card-header">
    <span class="card-icon fas fa-dragon"></span>
    Coffre-fort
    <span class="divider">»</span>
    <span class="subtitle">Modifier le monstre #{{id}}</span>
  </div>
  <div class="card-body">
    <div class="monster-preview"></div>
    <div class="blueprint-form"></div>
  </div>
  <div class="card-footer text-right">
    <div>
      <a class="btn btn-secondary" href="#/vault">
        <span class="fas fa-arrow-left"></span>
        Coffre-fort
      </a>
    </div>
    <div>
      <div class="dropdown dropdown-options dropup">
        <input type="file" accept=".json" id="monster-import-file" />
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          <span class="fas fa-cog"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button
            type="button"
            class="dropdown-item btn-reset"
            data-toggle="modal"
            data-target="#modal-delete"
          >
            <span class="fas fa-trash"></span>Supprimer
          </button>
          <button type="button" class="dropdown-item btn-save-as-new">
            <span class="fas fa-copy"></span>Créer une copie
          </button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item btn-export-to-ii">
            <span class="fas fa-file-export"></span>Exporter en tant
            qu'initiative améliorée Initiative .json
          </button>
          <button
            type="button"
            class="dropdown-item btn-export-to-ii-clipboard"
          >
            <span class="fas fa-clipboard"></span>Copier l'initiative améliorée
            dans le Presse-papiers
          </button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item btn-show-gmbinder">
            <span class="fas fa-book-open"></span>Afficher au format GMBinder
          </button>
          <div class="dropdown-divider"></div>
          <button type="button" class="dropdown-item btn-export-to-json">
            <span class="fas fa-file-export"></span>Sauvegarder en .json
          </button>
          <button type="button" class="dropdown-item btn-import-from-json">
            <span class="fas fa-file-import"></span>Chargement à partir d'un
            fichier .json
          </button>
        </div>
      </div>
      <button class="btn btn-primary btn-save">
        <span class="fas fa-save"></span>
        Sauvegarder les modifications
      </button>
    </div>
  </div>
  <div id="modal-delete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-trash"></span>
            Supprimer le monstre #{{id}}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Êtes-vous sûr de vouloir supprimer ce monstre ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-cancel"
            data-dismiss="modal"
          >
            <span class="fas fa-times"></span>
            Non
          </button>
          <button
            type="button"
            class="btn btn-primary btn-confirm"
            data-dismiss="modal"
          >
            <span class="fas fa-check"></span>
            Oui
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-updated" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-save"></span>
            Modifications sauvegardées
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Les modifications apportées au monstre #{{id}}
            ont été enregistrées.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-new-monster" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-save"></span>
            Le monstre #{{id}}
            a été créer
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Vous avez ajouter le monstre #{{id}} au coffre-fort.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-add-another"
            data-dismiss="modal"
          >
            <span class="fas fa-plus"></span>
            Ajouter un autre
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-import-monster-failure" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-file-import"></span>
            Aucun monstre n'a été trouvé
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Ce fichier ne contient pas de monstre valide.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modal-gmbinder" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="card-icon fas fa-book-open"></span>
            GMBinder
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span class="fas fa-check"></span>
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>